<h1>Random Results</h1>
<dl>
<dt>Minimum:</dt>
<dd> <%=@minimum%></dd>

<dt>Maximum:</dt>
<dd><%=@maximum%></dd>

<dt>Chosen number:</dt>
<dd><%=@chosen_number%></dd>
</dl>
<a href="/random/new">Find new random number</a>
