<h1>Select Random number between two numbers</h1>
<form action="/random/results">
  <label for="number1">Enter a number</label>
  <input id="number1" type="number" name="number1" placeholder="enter first number">

  <label for="number2">Enter a number</label>
  <input id="number2" type="number" name="number2" placeholder="enter a second number">
  <button>Pick Random Number</button>
</form>
