<h1>Select Random number between two numbers</h1>
<form action="/random/results">
  <label for="Minimum">Minimum</label>
  <input id="Minimum" type="number" name="Minimum" placeholder="enter Minimum number">

  <label for="Maximum">Maximum</label>
  <input id="Maximum" type="number" name="Maximum" placeholder="enter Maximum number">
  <button>Pick Random Number</button>
</form>
