<h1>Random Results</h1>
<dl>
<dt>Number 1:</dt>
<dd> <%=@number1%></dd>

<dt>Number 2:</dt>
<dd><%=@number2%></dd>

<dt>Chosen number:</dt>
<dd><%=@chosen_number%></dd>
</dl>
<a href="/random/new">Find new random number</a>
